@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/pt-root-ui_bold.woff") format("woff");
  font-size: 700;
}

@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/pt-root-ui_medium.woff") format("woff");
  font-size: 500;
}

@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/pt-root-ui_regular") format("woff");
  font-size: 400;
}

@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/pt-root-ui_light") format("woff");
  font-size: 300;
}
